* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 65, 65);
  height: 600px;
  position: relative;
}

p {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.alvo_externo {
  height: 500px;
  width: 500px;
}

.alvo_externo,
.alvo2,
.alvo4 {
  background-color: lightcoral;
}

.alvo1,
.alvo3,
.alvo5 {
  background-color: #fff;
}

.alvo1 {
  height: 400px;
  width: 400px;
}

.alvo2 {
  height: 300px;
  width: 300px;
}

.alvo3 {
  height: 200px;
  width: 200px;
}

.alvo4 {
  height: 100px;
  width: 100px;
}

.alvo_externo,
.alvo1,
.alvo2,
.alvo3,
.alvo4 {
  border-radius: 50%;
  border: 5px solid grey;
  margin: 50px auto;
}

.mira1 {
  height: 40px;
  width: 40px;
  background-color: rgb(213, 246, 156);
  border: 6px dashed black;
  border-radius: 50%;
  position: absolute;

  right: 0;
  bottom: 0;
}
